.AddBooks {
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items : center;
}
.viewList li{
    display : flex;
    flex-direction : row;
    margin-top : 20px;
    justify-content: space-around;
}
.viewList span {
    margin-right : 20px;
}
.Add {
    margin-top : 50px;
    width:120px;
    height:50px;
}